<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ABOUT</title>
</head>
<body>
	<a href="javascript:history.back()">返回</a>
	<a href="/blog">首页</a>
	<p>站长</p>
	<p>一个明年毕业(17级)的大四狗,书法学专业,普及下:课程主要是软笔书法,略为涉及国画,印章,,将来的出路在教育这一块。</p>
	<p>高中时会用c在黑压压的窗口里写 hello,world!  c的深度止于指针,值和址还是挺清晰的,指针没有想象的难(心理预期?),由于c实在是无聊,在c上的兴趣慢慢耗尽。</p>
	<p>大二,初遇python2, 偶遇django, 暑假接触爬虫, 顿时发现了新的世界, 后来也因为爬虫放弃了py2, 止于她的编码,或许在 win 平台下用 py2 本来就是不明智的。大三的寒假重拾 py3, 主要是为工作, 马上毕业, 却没有一门手艺。</p>
	<p>大三下学期发现这进度找后端的工作根本没戏,开始掉入前端的坑。</p>
	<p>现在,大四上学期,还在坑中挣扎。</p>
	<br>
	<p>简历</p>
	<p>这已是本人UI的极限了, 结合所学的国画, 加上自己刻的章, 刚开始看上去挺惊艳的,现在越看越*了。。。 </p>
	<br>
	<p>联系方式: qxguge@gmail.com</p>
	<br>
	<p>没有css/js,兼容性真好</p>
</body>
</html>